@import url("https://fonts.googleapis.com/css?family=Krub:400,700");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: crimson;
  font-family: "Krub", sans-serif;
}

.logo {
  margin-left: 30px;
  color: white;
  font-family: "Bangers";
  animation: fadeIn 1s ease-in;
}

.search-icon {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: crimson;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  animation: fadeIn 1s ease-in;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 65px;
  left: 91.5%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  overflow: hidden;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: flex;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  display: none;
  color: orange;
  overflow: hidden;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background:crimson;
  color: white;
}

.main-title {
  margin-top: 30px;
}

.card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 400px;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 10 10px 100px 5px rgba(0, 0, 0, 0.2);
  background: #FFEECA;
  overflow: hidden;
}
.card .card-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 270px;
  height: 120px;
  background: crimson;
  animation: cardTop 1.5s;
  border-style: solid;
  border-color: crimson;
  border-width: 5px;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000,
    inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .name {
  position: absolute;
  margin: auto;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}
.card .name a {
  color: #151515;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.card .name a:hover {
  text-decoration: none;
  color: crimson;
}
.card .name h6 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: #151515;
  width: 40px;
}

.card .stats {
  position: absolute;
  margin: auto;
  top: 120px;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: 40px;
  display: flex;
}
.card .stats .health-points,
.card .stats .experience,
.card .stats .type {
  position: relative;
  left: -300px;
  width: calc(250px / 3);
  text-align: center;
  color: #151515;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
}
.card .stats .health-points h6,
.card .stats .experience h6,
.card .stats .type h6 {
  text-transform: uppercase;
  color: crimson;
}
.card .stats .health-points p,
.card .stats .experience p,
.card .stats .type p {
  font-size: 12px;
}
.card .stats .ds:nth-of-type(2) {
  animation-delay: 0.5s;
}
.card .stats .ds:nth-of-type(1) {
  animation-delay: 1s;
}
.card .skills {
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  width: 200px;
  height: 100px;
  animation: mvBottom 1.5s;
}
.card .skills h6 {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: crimson;
}
.card .skills .skill h6 {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.05em;
  margin: 4px 0;
  color: #151515;
}
.card .skills .skill .fab {
  color: crimson;
  font-size: 14px;
}
.card .skills .skill .bar {
  height: 5px;
  background: crimson;
  text-align: right;
  border-radius: 25px;
  max-width: 100%;
}
.card .skills .skill .bar p {
  color: #151515;
  font-size: 8px;
  padding-top: 5px;
  animation: fadeIn 5s;
}
.card .skills .skill .bar:hover {
  background: orange;
}
.card .skills .skill .attack-bar {
  width: 95%;
  animation: attackBar 1s;
  animation-delay: 0.4s;
}
.card .skills .skill .def-bar {
  width: 40%;
  animation: defBar 2s;
  animation-delay: 0.4s;
}
.card .skills .skill .speed-bar {
  width: 90%;
  animation: speedBar 3s;
  animation-delay: 0.4s;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes attackBar {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes defBar {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes speedBar {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}
@keyframes cardTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
.following {
  color: white;
  background: crimson;
}
